.addImage:hover{
    background-color: #cde3f8;
    }

.addImage{
    height: 101.5%;
    box-sizing: border-box;
    border: 5px dashed black;
    background-color: #d6e9f9;
}
.center{text-align: center;}

.f-size4em{
    font-size: 4em !important;
}
.color-bluish{

color:#90a0b3

}
a{    color: dodgerblue;
}
.image{

max-height: 300px;
max-width:300px;
}
html,body{

padding: 1px;
margin: 1px;
height: 99%;
background-color: #d6e9f9;

}
#addImagecont:hover  .AddImg {display: block;}
@keyframes hover{
    from {background:transparent;}
    to {background:#369eec;}
    
    } 
    @keyframes unhover{
        from {background:#369eec;}
        to {background:transparent;}
        
        } 
