.addImage:hover{
    background-color: rgba(9,0,0,0.2);
}

.addImage{
    height: 99%;
    background-image:url(../assets/userImg.png);
   
     box-sizing: border-box;
border: 5px dashed black;
}
.center{text-align: center;}
html,body{

padding: 1px;
margin: 1px;
height: 99%;

}
#addImagecont:hover  #addImage {display: block;}

